{% extends "dash-base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Eureka | Paramètre du Compte{% endblock %}


{% block content %}

<!-- Start Dashboard Page => Post your Resume-->
<div class="content">
    <div class="row">
      <div class="col-xs-12">
          <!-- Start Header Dashboard Page -->
          <header class="dash-header">
              <div class="container text-center">
                  <div class="over-lay">
                      <div class="dash-heading">
                          <h1>Mon Espace</h1>
                          <h3>Paramètre du Compte !</h3>
                      </div>
                  </div>
              </div>
          </header>
          <!-- Start Dashboard Page-->
      </div>
      <div class="col-xs-12">
        <div class="profile-add">
            <div class="row">
                <div class="col-xs-12 col-md-9 text-left profile-form">
                    <form method="post" enctype="multipart/form-data"id="personForm">
                        {% csrf_token %}
                        <div class="col-xs-12 form">
                            {{ form.as_p }}
                        </div>
                        <p><input type="submit"  class="submit" value="Enregistrer ->"></p>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}